[Unit]
Description=MSI Per-Key RGB Keyboard Backlight
# Started by udev when SteelSeries KLC appears (see 99-msi-rgb.rules)

[Service]
Type=oneshot
ExecStart=/home/kensai/Projects/msi-perkeyrgb/set-rgb.sh cba6f7
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
